.App {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

body {
  background: rgb(108, 173, 204);
}

.MuiPaper-root {
  padding: 2%;
}

.MuiGrid-root {
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
